<!DOCTYPE html>
<html>
    <head>
        <title>Colby's Critiques</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bggreen">
    <a class="navbar-brand" href="/posts">Colby's Critiques</a>
    <div class="container">
    <div class="row ml-auto">
    <ul class="navbar-nav">
        <% if(!currentUser){ %>
            <li class="nav-item ml-3">
                <a href="/login">Login</a>
            </li>
            <li class="nav-item ml-3">
                <a href="/register">Register</a>
            </li>
        <% } else { %>
            <li class="nav-item ml-3">
                Hello, <%= currentUser.username %>
            </li>
            <li class="nav-item ml-3">
                <a href="/logout">Logout</a>
            </li>
        <% } %>
    </ul>
    </div>
    </div>
</nav>
    <div class="container topPad">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    
    
    
    
    
    
