<% include ./partials/header %>



<div class="container">
<h1>Colby's Secret Place</h1>
<p>Hey, this is Colby's private place!</p>
<img class="img-fluid" src="https://fuzzypumpkin.github.io/images/private.jpg">

</div>
<% include ./partials/footer %>