body {
    background-color: black;
}
#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
h1 {
  color: black;
  font-size: 80px;
  text-shadow: 2px 2px rgba(250,250,250,0.2),
				2px -2px rgba(250,250,250,0.2),
				-2px 2px rgba(250,250,250,0.2),
				-2px -2px rgba(250,250,250,0.2);
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 45s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(https://fuzzypumpkin.github.io/images/candm.jpg);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://fuzzypumpkin.github.io/images/tvwatch.jpg);
  animation-delay: 15s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://fuzzypumpkin.github.io/images/simswatch.jpg);
  animation-delay: 30s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizer */
.no-cssanimations .slideshow li {
	opacity: 1;
}