.thumbnail img {
    width: 100%;
}
.deleteForm {
    display: inline;
}
.bggreen {
    background-color: #626468;
}
nav a {
    color: white;
}
nav a:hover {
    color: #17a2b8;
    text-decoration: none;
}
.topPad {
    margin-top: 5em;
}
body {
    background-color: #E4E4DD;
}
.card {
    border: 2px solid #626468;
}
.infoBtn {
    background-color: #a1a4a8;
}
.btn {
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6), 0 2px 2px 0 rgba(0, 0, 0, 0.6);
}
.jumbotron {
    background-color: white;
    position: relative;
    border: 2px solid #626468;
}
.colbyHead {
    z-index: 1;
    position: absolute;
	right: 0%;
	bottom: 0px;
	height: 270px;
}
.sekkrit {
    color: black;
    text-decoration: none;
}
.sekkrit:hover {
    color: black;
    text-decoration: none;
}